html
    head
        title jade
        
    body
        #header
            h1 #{name}
            h2= description
        hr
        - for (var i = 0; i < 10; i++) {
            p
                a(href="http://hanb.co.kr", data-test="test !!") Go to Hanbit Media #{i}
        - }