html
    head
        title jade
        
    body
        h1 Login Page
        hr
        form(method='POST')
            label ID
            input(type='text', name='id', id='id', required)
            br
            label passwd
            input(type='password', name='passwd', id='passwd', required)
            br
            input(type='submit', value='login')