<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.nodeclipse.debug.launch.LaunchConfigurationType">
<stringAttribute key="attr_program_arguments" value="--exit 5000"/>
<stringAttribute key="key_file_path" value="/myNode/ch03/process.argv.js"/>
</launchConfiguration>
